/* ---------------------- Styles de base ------------------ */
:root {
    --lego-red: #FF0000;
    --lego-yellow: #FFD700;
    --lego-black: #171515;
    --lego-white: #fff9f9;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', Helvetica, sans-serif;
    background-color: var(--lego-yellow);
}

#scrollytelling-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.scrollytelling-section {
    min-height: 100vh; /* taille de l'écran pour les sections */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
}

/* Style alterné pour les sections */
.scrollytelling-section:nth-child(odd) {
    background-color: var(--lego-yellow);
    color: var(--lego-black);
}

.scrollytelling-section:nth-child(even) {
    background-color: var(--lego-red);
    color: var(--lego-white);
}

.scrollytelling-section:nth-child(4){
    background-color: var(--lego-white);
    color: var(--lego-black);
}


/* --------------- Style pour le texte et le contenu -------------- */
.section-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 900;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 800;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
}

/* ---------------- Style pour la bordure dentelée comme les briques LEGO -------------------- */
.scrollytelling-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: repeating-linear-gradient(
        90deg,
        var(--lego-red) 0px,
        var(--lego-red) 40px,
        transparent 40px,
        transparent 80px
    );
}

/* ------------------ Style pour la bordure dentelée comme les briques LEGO ---------------- */
.scrollytelling-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: repeating-linear-gradient(
        -90deg,
        var(--lego-yellow) 0px,
        var(--lego-yellow) 80px,
        transparent 40px,
        transparent 80px
    );
}

/* Style spécifique pour les visualisations D3 */
.d3-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------- Style pour la partie Logo LEGO  ---------------------- */

#logo .section-content {
    text-align: center;
    font-family: sans-serif;
    width: 50%;
    height: 50%;
  }
  
  #logo .date {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 800;
  }
  
  #logo .anniversary {
    font-size: 2em;
    text-transform: lowercase;
    margin-bottom: 20px;
    font-weight: 800;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


/* -------------- Suite ---------------- */